@*

*@
@{
    var it = 2;
}
@model List<Resume>
<p>
    @if (!Model.Any())
    {
        <a class="btn btn-secondary" asp-action="Create" asp-controller="Resume">Create New</a>
    }
    
</p>
<partial name="_List_Resumes" />